* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: hsl(47, 88%, 63%);
    font-size: 16px;
    font-family: Figtree, Arial, Helvetica;
}

@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf)
}

.container {
    width: 384px;
    height: 522px;
    background-color: hsl(0, 0%, 100%);
    margin: 20% auto;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

.content {
    margin: 24px;
}

.thumb {
    border-radius: 10px;
}

.label {
    display:inline-block;
    background-color:hsl(47, 88%, 63%);
    padding: 6px 15px;
    border-radius: 4px;
    margin-top: 24px;
    font-weight: 800;
    font-size: 0.875rem;
}

.pubdate {
    font-size: 0.875rem;
    margin-top: 12px;
}

.title h1 {
    font-size: 1.5rem;
    line-height: 2.5;
    font-weight: 800;
}

.title h1:hover {
    color:hsl(47, 88%, 63%);
    cursor: pointer;
}

.contentex {
    font-size: 1rem;
    color: hsl(0, 0%, 50%);
    line-height: 1.5;
}

.writer {
    display: flex;
    margin-top: 24px;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 32px;
}

.name {
    font-size: 0.875rem;
    font-weight: 800;
}

.attribution {
    margin-top: -70px
}
